@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #5e0684;
  --color-secondary: #2e5595;
  --color-base-100: #c9b3e8;
  --color-base-200: #240233;
}

.text-one {
    @apply bg-linear-to-r from-[#390da8] to-[#9e4ec1] bg-clip-text text-transparent;
}
.my-btn {
    color:  [#2e5595];
    @apply btn btn-soft btn-primary text-base border-none  hover:bg-linear-to-r from-[#632EE3] to-[#ba93f1];
}

.my-bg {
  @apply bg-linear-to-r from-[#240233] via-indigo-900 to-[#5e0684] border border-slate-800
}


/* Banner slider */
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  opacity: 1 !important; 
  background: rgba(255, 255, 255, 0.4) !important;
  transition: all 0.3s ease; 
}
.swiper-pagination-bullet-active {
  background: #a855f7 !important;  
  width: 32px !important;  
  border-radius: 6px !important;  
}